@import url(font-awesome.min.css);
:root {
    /* size */
    font-size: 16px;
    --primary-color: #898989;
    --secondary-color: #F5F5F5;
    --bg-color: #FFF;
}

.body {
    background-color: #898989;
    display: grid;
    font-family: Helvetica,Arial,  sans-serif;
}

@media screen and (min-width: 768px) {
    .body {
        grid-template-columns: 25% 75%;
        column-gap: 1rem;
        padding: 1rem;
        height:100vh;
    }
}

/* header */
.header {
    background-color: whitesmoke;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
   
}
@media screen and (min-width: 768px) {
    .header{
        height:45rem;
        margin-bottom: 0;
    }
}


.identity {
    display: flex;
    align-items: flex-end;
    height: 4rem;
    width: 100%
}

@media screen and (min-width: 768px) {
    .identity {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
}

.profile-pic {
    height: 4rem;
    width: auto;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .profile-pic {
        height: 9rem;
    }
}

.name {
    font-size: 1rem;
    color: black;
}

@media screen and (min-width: 768px) {
    .name {
        font-size: 2rem;
    }
}

.about-me{
    display:none;
}
@media screen and (min-width: 768px) {
    .about-me{
        display:block;
    }
}

.about-me.active{
    display:block;
}

.nav{
    display:none
}
@media screen and (min-width: 768px) {
    .nav {
        display: block;
    }
}
.nav-list {
    align-items: center;
    justify-content:start;
    display:flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-link {
}

.nav-item {
    font-size: 1rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 3rem;
    margin-top: 0;
    width: 100%;
}



.card {
    margin-bottom: 1rem;
    overflow: hidden;
    
}
@media screen and (min-width: 768px) {
    .card {
        margin-bottom: 0;
    } 
}
.card-header{
    text-align: center;

}
@media screen and (min-width: 768px) {
    .card-header {
        display: none;
    }
}
.card-ttl {
    font-size: 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem 3rem;
    margin-top: 0;
}

.card-content {
    background-color: var(--secondary-color);
    margin: 0% 0%;
    padding: 1rem;
    border-radius: 1rem;
    display:none;
    height: 20rem;
    overflow: scroll;
}
@media screen and (min-width: 768px) {
    .card-content {
        height:40rem;
    }
}

.card-content.active{
    display:block;
}

.card-item {
    width: calc(100% - 2rem);
    line-height: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom:1rem ;
}
.card-item.exp{
    background-color: rgb(133, 173, 248);
}
.card-item.dgr{
    background-color: rgb(162, 246, 202);
    }

.date {
    font-size: 1rem;
}

.post {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.company {
    font-size: 1.5rem;

}

.description {
    font-size: 1rem;
    word-break: break-word;
}

.list-skill {
    list-style: none;
}

.skills {
    display: flex;
    flex-direction: row;
}